<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Calculador de notas</title>
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/stylesheets/now-ui.css" />
  <link rel="stylesheet" href="assets/stylesheets/app.css" />
</head>
<body>
  <div class="container" id="main">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center" style="margin: 0 !important;">Calculador de notas</h1>
      </div>
      <hr class="col-12">
      <div class="col-12">
        <h5><b>Recomendaciones para su uso:</b></h5>
        <ul>
          <li>Al modificar cada nota, debe presionar enter para poder actualizar la información</li>
          <li>Verificar bien los porcentajes ingresados, en caso de error, deberá volver a cargar todas las evaluaciones</li>
        </ul>
      </div>
      <hr class="col-12">
      <div class="col-12">
        <div class="row">
          <h5 class="col-12"><b>Insertar evaluaciones:</b></h5>
          <div class="form-group col-12">
            <div class="row">
              <label for="percentage" class="col-12 col-sm-4 text-right">Porcentaje:</label>
              <input class="form-control col-12 col-sm-8" type="number" v-on:keydown.enter="add_note" v-model="percentage" />
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-success" style="float:right;" v-on:click="add_note" :disabled="status">Agregar</button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="responsive-table">
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Porcentaje</th>
                <th class="text-center">Nota</th>
                <th class="text-center">Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="(notes.length > 0)">
                <tr v-for="(val, i) in notes" :class="((parseInt(val.note) == 0) ? 'table-danger' : (( parseInt(val.note) < 9.5 ) ? 'table-warning' : 'table-success') )">
                  <td class="text-center" v-text="i + 1"></td>
                  <td class="text-center" v-text="val.percentage + '%'"></td>
                  <td class="text-center"><input type="number" step="0.1" min="0" max="20" v-model="notes[i].note" placeholder="Ingrese su nota..." class="form-control" v-on:keyup.enter="set_note(i)"></td>
                  <td class="text-center" v-text="val.note * (val.percentage / 100) + ' puntos'"></td>
                </tr>

                <tr>
                  <td colspan="3" class="text-right">Total: </td>
                  <td class="text-center" v-text="total + ' puntos'" :class="((total < 9.5) ? 'text-danger' : 'text-success' )"></td>
                </tr>
              </template>
              <template v-else>
                <tr>
                  <td colspan="4">No hay notas cargadas</td>
                </tr>
              </template>
            </tbody>
          </table>

          <template v-if="validate">
            <hr class="col-12">
            <div class="col-12">
              <h5 class="text-left"><b>Estimaciones: </b></h5>
              <p>Requiere un total de {{ 9.5 - total }} puntos para pasar la asignatura</p>
              <template v-if="validate2">
                <p>Recomendamos sacar estas notas para poder pasar la materia:</p>
                <ul>
                  <li v-for="note in estimated">
                    <p>En la evaluación # {{ note.evaluation + 1 }} deberá sacar una nota igual o mayor a {{ note.note }} puntos</p>
                  </li>
                </ul>
              </template>
              <template v-else>
                <p>Lo sentimos, según nuestros cálculos, usted no podrá aprobar la materia.</p>
              </template>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/javascripts/vue.js"></script>
  <script src="assets/javascripts/app.js"></script>
</body>
</html>